
a {
  font-weight: 500;
  font-family: 'Roboto';
 
  text-decoration: inherit;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto';
}

body {
  margin: 0;
  padding: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
 
}
h1{
  margin: 0;
}